// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dgreen: #093A0A;
$black: #000000;
$brandy: #8c4843;
$brown: #9e643c;
$magnolia: #ede6f2;
