// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

.colortext {
    color: #ede6f2;
}
.colortext:hover {
    color: #ede6f2;
    text-decoration-line: none;
}

.homepage-banner {
    // background-size: cover;
    // background-position: center;
    padding: 100px 0 550px 0;
    text-align: center;
    height: 87.7vh;

    h1 {
        font-family: 'Permanent Marker', cursive;
        font-weight: bold;
        margin: 0;
        color: #ede6f2;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
        font-size: 120px;
    }

    p {
        font-size: 28px;
        color: #ede6f2;
        opacity: .9;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
        span {background-color: #CD4A49;}
    }

    .btn-to-index {
        border: none;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
        outline: none;
        overflow: hidden;
        position: relative;
        color: #ede6f2;
        font-weight: 700;
        font-size: 15px;
        background-color: #222;
        padding: 17px 60px;
        margin: 0 auto;
        box-shadow: 0 5px 15px rgba(0,0,0,0.20);
    }

    .btn-to-index:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 490%;
        width: 140%;
        background: #CD4A49;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
        transform: translateX(-98%) translateY(-25%) rotate(45deg);
    }

    .btn-to-index:hover:after {
        -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
        transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }
}
.container_one {
    .btn-tree-show {
    border: none;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #ede6f2;
    font-weight: 700;
    font-size: 15px;
    background-color: #222;
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  }

  .btn-tree-show:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #CD4A49;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }

  .btn-tree-show:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }
}

