
<div class="cards">
  <% @trees.each do |tree| %>
    <div class="cards">
      <%= link_to tree_path(tree), class: 'link_tree' do %>
        <div class="card-category" style="background-image: url(<%= image_path ("https://source.unsplash.com/500x300/?#{tree.name}") %>)">
          <%#= link_to tree.name, tree_path(tree), class: "link_tree" %>
        </div>
           <p class="category"> <%= tree.name %></p>
      <% end %>
    </div>
  <% end %>
</div>
<br>
