<div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= image_path("garden-party.png") %>);">
  <div class="homepage-banner">
    <%# <div class="homepage-elements"> %>
  <div class="logo_tree"><%= image_tag "tree-logo.png" %></div>
      <h1 style=" margin-top: 0.5em;">Your tree</h1>
      <p style="margin-bottom: 4em;"><span>Rent trees for the best events</span></p>
      <%= link_to "See our trees", trees_path, class: "effect effect-5" %>
    <%# </div> %>
  </div>
</div>
