<div style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= image_path("garden-party.png") %>);">
  <div class="homepage-banner">
    <h1>Your tree</h1>
    <p><span>Rent trees for the best events</span></p>
    <button class="btn btn-green" href=""><span>See our trees</span></button>
  </div>   
</div>
