<div class="homepage-banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= image_path("garden-party.png") %>);">
  <div class="container">
    <h1>Your tree</h1>
    <p>Rent trees for your events</p>
    <a class="btn btn-green" href="">See our trees</a>
  </div>   
</div>
