<div style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= image_path("garden-party.png") %>);">
  <div class="homepage-banner">
    <%# <div class="homepage-elements"> %>
      <h1>Your tree</h1>
      <p><span>Rent trees for the best events</span></p>
      <%= link_to "See our trees", trees_path, class: "btn btn-to-index" %>
    <%# </div> %>
  </div>   
</div>
