// Design the form to add trees into db
// .form-box {
//     display: block;
// }
.tree-form {
    margin: 0 30%;
    background-color: none;

    h2 {
      text-align: center;
    }
    .btn-tree-show {
    border: none;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #ede6f2;
    font-weight: 700;
    font-size: 15px;
    background-color: #222;
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  }
}
