.banner_index {
  background-color: #093A0A;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

