.btn-ghost {
  color: #093A0A;
  border: 1px solid #093A0A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 1s ease;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-ghost:hover {
  opacity: 1;
  color: white;
  background-color: #093A0A;
}


.btn-login {
  color: white;
  background-color: #feb95f;
  width: 300px;
  position: absolute;
  margin: 100px;
  left: 50%;
  top: 5%;
}

.btn-book {
  color: white;
  background-color: #C2095A;
  width: 300px;
  position: absolute;
  margin: 100px;
  // left: 20%;
  // top: 50%;
}
