.btn-ghost {
  color: #FF5154;
  border: 1px solid #FF5154;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 1s ease;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-ghost:hover {
  opacity: 1;
  color: white;
  background-color: #FF5154;
}

.btn-login {
  color: white;
  background-color: #feb95f;
  width: 300px;
  position: absolute;
  margin: 100px;
  left: 50%;
  top: 5%;
}

.btn-book {
  color: white;
  background-color: #C2095A;
  width: 300px;
  position: absolute;
  margin: 100px;
  // left: 20%;
  // top: 50%;
}

.btn-accept {
  padding: 6px !important;
  margin: 10px;


  .btn-accept:hover {

  }
}

.btn-refuse {
  padding: 6px !important;
  margin: 10px;


  .btn-refuse:hover {

  }
}

.submit {
  background-color: #CD4A49;
  color: white;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}

.submit:hover {
  background-color: #222222;
  color: white;
}

.confirmation {
  display: flex;
  margin-left: 90%;
  margin-right: 70%;
  width: 300px;
  font-size: 10px;
  color: white;
}

.btn-danger {
  background-color: #CD4A49;
  border: 1px solid white;

}
.btn-danger:hover {
  background-color: darkseagreen;
  border: 1px solid white;
}

.btn-tree-show {
  border-radius: 1em;
}

.registration {
  color: black;
}

.registration:hover {
  text-decoration: none;
  color: black;
}
