.container {
  position: relative;
}

.footer {
  background-color:black;
  height: 150px;
}

.footer-copyright {
  color: #eae7e3;
}

.footer a {
  color: white;

}

.footer-links {

}

.container-show-tree {
  display: flex;
}
