.container {
  position: relative;
}

.footer-copyright {
  color: #eae7e3;
}

.footer a {
  color: white;

}

.container-show-tree {
  display: flex;
}

.all_container {
  display: flex;
  background-color: white;
}

.showw {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
}

