.back_link  {
  display: inline;
}

.container {
  background-color: #CA9591;
  border-radius: 10px;
  // margin-right: auto;
  // margin-left: auto;
}
.container_one {
  background-color: #AF5F5A;
}

.formul {
  margin-right: auto;
  margin-left: auto;
}
