.back_link  {
  display: inline;
}

.container {
  background-color: #CA9591;
  border-radius: 10px;
  // margin-right: auto;
  // margin-left: auto;
}
.container_one {
  background-color: #CD4A49;
  width: 45vw;
  padding: 1em;
  display: inline-block;
  border-radius: 1em;
  margin-left: 1em;
}
@media (max-width: 767px) {
  .container_one {
    margin-left: -1em;
    width: 73vw;
    line-height: 1em;
    margin-top: -2em;
  }
}

.formul {
  margin-right: auto;
  margin-left: auto;
}
