.title {
  display: flex;
  align-content: center;
  opacity: 0.9;
  justify-content: center;
}

.title_text {
  text-align: center;
  font-size: 35px;
  color:white;
  background-color: #CD4A49;
  width: 60vw;
  margin: 10px auto;
  opacity: 0.9;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 10px;
  border-radius: 1em;
}

.title-owner {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color:white;
  background-color: #CD4A49;
  opacity: 0.9;
  display: flex;
  align-content: center;
  justify-content: center;

}

.text-card {
  margin: 0px;
  font-family: 'Work Sans';
}
.tree_names {
  background-color: #CD4A49;
  color: white;
}

.tree_descriptions {
  margin-top: 10px;
  position: center;
  background-color: #222222;
  color: white;
  width: 50vw;
  margin: auto;
}
