.title {
  display: flex;
  align-content: center;
  opacity: 0.9;
  justify-content: center;
}

.text {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color:white;
  background-color: #CD4A49;
  opacity: 0.9;
  display: flex;
  align-content: center;
  justify-content: center;
}
